<div id="container">
  <div id="success-message">
    <p>¡TRANSACCIÓN EXITOSA!</p>
    <div id="rectangle">
      <img src="assets/verifiedIcon.png" id="check-icon">
      <div id="transaction-details">
        <p>Estado de transacción: <span>22 de Septiembre</span></p>
        <p>Nombre del comercio: <span>MyEvent</span></p>
        <p>Fecha de pago: <span>22 de Septiembre</span></p>
        <p>Hora de pago: <span>18:30</span></p>
        <p>ID de la transacción: <span>#12345678910</span></p>
        <p>CUS: <span>1234567891</span></p>
        <p>Concepto: <span>Producto 1</span></p>
        <p>Concepto: <span>Producto 1</span></p>
        <p>Método de pago: <span>PAYPAL</span></p>
        <p>Costo subtotal: <span>S/150</span></p>
        <p>Total: <span>S/150</span></p>
      </div>
      <button id="end-button">Finalizar</button>
      <button id="download-button">Descargar PDF</button>
    </div>
  </div>
</div>
